/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* Header styles */
header {
    background-color: #2b82cb;
    color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Main content styles */
main {
    margin: 0 auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    list-style: none;
}

@media (min-width: 1150px) {
    ul {
        flex-wrap: nowrap;
    }
}

li {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 220px;
    transition: transform 0.2s ease;
}

li:hover {
    transform: translateY(-10px);
}

.colony-button {
    display: flex;
    justify-content: center;
}

.colony-details {
    font-size: 16px;
    margin-bottom: 10px;
}

.colony-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Button styles */
button {
    background-color: #2b82cb;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #1864a4;
}

button:focus {
    outline: none;
}

/* Map styles */
#map {
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

/* Popup styles */
.leaflet-popup-content {
    cursor: pointer;
}

/* Specific styles for visualization.html */
.fullscreen-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Popup form styles */
.popup {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.popup-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    position: relative;
    text-align: center;
}

.close-popup {
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 5px;
}

.close-popup:hover {
    color: #999;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="email"] {
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

label,
input[type="email"] {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}